
body{
    box-sizing: border-box;
    background-color: rgba(19, 19, 165, 0.774);
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    line-height: 1.5;
    
}
.fcontainer{
    display: block;
    background-color: white;
    border-radius: 20px;
    border: none;
    teext-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding: 10px 45px;
    width: 350px;
    
    
    
    
}
label{
    display: block;
    margin-top: 30px;
    margin-bottom: 8px;
    font-family: U8,sans-serif;
    font-weight: 700;
    font-size: .75rem;
    color: #4a5568;
    margin-bottom: 0.25rem;
}

img{
    margin-bottom: 20px;
    padding: 0px;;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
    display: block;
}

h2{
    color:blue;
    text-align: center;
    margin-bottom: 0;
}
p{
    text-align: center;
    margin-top: auto;
    font-size:15px;
    color:gray;
}
form{
    maargin:20px

}
input, select{
    width:100%;
    background-color:ghostwhite;
    height: 50px;
    border: none;
    border-radius: 5px;
    
}
input :active{
    border:none;
}

button[type=submit] {
    text-align: center;
    background-color: blue;
    color:white;
    height:50px;
    margin-top: 15px;
    width: 100%;
    border-radius: 8px 8px 8px 0px;
    border:none;
}
a{
    display: block;
    color:white;
    text-decoration: none;
    text-align: center;
}
